@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


.header__content {
  background: url(../img/header-bg.jpg);
  background-size: cover;
}

.header__title {
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding-top: 167px;
}

.header__desc {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 245px;
}

.header__strong {
  font-family: 'Roboto';
   font-size: 18px;
   font-weight: 700;
   color: #fff;
   display: flex;
}

.nav {
  background: #322E41;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav__menu {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
}

.nav__links {
  color: #fff;
  transition: 0.5s;
  padding: 23px 0;
  border-bottom: 2px solid transparent;
  display: block;
  
  &:hover {
    color: #FFE600;
    border-bottom: 2px solid white;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #2E2E3C;

  &::after {
    content: 'All';
    color: #fff;
    background: #9A98EA;
    border-radius: 4px;
    font-size: 22px;
    font-weight:500;
  }
}

.title_no {
  &::after {
    display: none;
  }
}

